@media(max-width:768px){

    .logo p {
        font-size: 30px;
    }

    .donation_volunteer img{
        width: 100%;
        height: 300px;
    }

    .mission_vision > div{
        margin-bottom: 20px;
    }

    .mission_vision{
        width: 100% !important;
        margin-top: 100px;
    }

    .images-slider{
        height: 600px !important;
    }    

    .images-slider > div > img:first-child {
        width: 100% !important;
        height:600px;
    }
}